<div style="margin-top: 10px">
  <div class="custom-file">
    <input
      type="file"
      class="custom-file-input"
      id="customFile"
      (change)="onChange($event)"
      multiple
    />
    <label class="custom-file-label" for="customFile" id="customFileLabel"
      >Selecionar Arquivo</label
    >
  </div>
</div>
<div class="progress" style="margin-top: 10px;">
  <div
    class="progress-bar"
    role="progressbar"
    [style.width]="progress + '%'"
    aria-valuenow="25"
    aria-valuemin="0"
    aria-valuemax="100"
  >
    {{ progress }}%
  </div>
</div>
<div style="margin-top: 10px">
  <button
    type="button"
    class="btn btn-primary"
    (click)="onUpload()"
    [disabled]="!files"
  >
    Enviar
  </button>
</div>
