<!--<app-diretiva-ngif></app-diretiva-ngif>
<app-diretiva-ngswitch></app-diretiva-ngswitch>
<app-diretiva-ngfor></app-diretiva-ngfor>
<app-diretiva-ngclass></app-diretiva-ngclass>
<app-diretiva-ngstyle></app-diretiva-ngstyle>
<app-operador-elvis></app-operador-elvis>
<app-exemplo-ngcontent>
  Conteudo passando para o component
</app-exemplo-ngcontent>

<app-exemplo-ngcontent>
  <div class="titulo">Título do painel</div>
  <div class="corpo">
    Conteudo passando para o component
  </div>
  <div class="corpo">
    Conteudo passando para o component 2
  </div>
</app-exemplo-ngcontent-->

<app-diretivas-customizadas></app-diretivas-customizadas>
